.element__salary {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    border: none;
    width: 100%;
    max-width: 95px;
    cursor: default;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.element__salary:focus {
    outline: 1px solid #888eca;
    width: 100%;
    border-radius: 10px;
}
