.content {
    max-width: 1024px;
    width: 100%;
    margin: 30px auto;
    flex: 1 0 auto;
    position: relative;
}

.content:before {
    position: absolute;
    content: '';
    bottom: -30px;
    left: 0;
    margin-bottom: 80px;
    height: 1px;
    width: 100%;
    background-color: #888eca;
}
